@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.h1 {
  @apply text-5xl md:text-6xl lg:text-7xl 2xl:text-8xl;
}

.h2 {
  @apply text-3xl md:text-4xl lg:text-5xl 2xl:text-6xl;
}

.main-gradient {
  @apply bg-gradient-to-br from-blue-400 via-blue-500 to-blue-600;
}

.dark-blue {
  background: #001347;
}

@media only screen and (min-width: 800px) {
  .about-me {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  }
  .certifications {
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
  }
}

.white-shadow {
  /* --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow); */

  /* --tw-shadow: 0 25px 50px -12px rgba(255, 255, 255, 0.25);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #ffff),
    var(--tw-ring-shadow, 0 0 #ffff), var(--tw-shadow); */

  -webkit-box-shadow: 0px 9px 24px 0px rgba(255, 255, 255, 0.1);
  box-shadow: 0px 9px 24px 0px rgba(255, 255, 255, 0.1);
}
